<!-- This design is intentionally bad. -->
<!-- Toolbar -->

  <mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="show-md show-lg">
      <span>Emily & Adam</span>
      <nav>
        <a mat-button routerLink="/" routerlinkactive="navbar-header-item-selected"
          class="mat-focus-indicator navbar-hide-small navbar-header-item-selected"> Home</a>
        <a mat-button href="http://www.zola.com/registry/emilyandadamjune10" target="_blank">Registry</a>
        <a mat-button href="#Wedding">Wedding</a>
        <a mat-button href="#Reception">Reception</a>
      </nav>
    </div>

    <div class="show-sm no-gutters align-items-center">
      <div class="col-auto">
        <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a routerLink="/" mat-menu-item class=""> Home</a>
        <a href="http://www.zola.com/registry/emilyandadamjune10" mat-menu-item target="_blank">Registry</a>
        <a href="#Wedding" mat-menu-item>Wedding</a>
        <a href="#Reception" mat-menu-item>Reception</a>
  
        </mat-menu>
      </div>
      <span>Emily & Adam</span>
    </div>    
  </mat-toolbar>


<!-- Top Section -->
<div class="container-fluid">

  <section class="top row">
    <div class="container">
      <div class="wrap">
        <div class="row justify-content-center">
         <div class="col-auto" data-animation="slide-in-left" data-delay=".5s" style="animation-delay: 0.5s;">
           <img src="../assets/Images/hampster.gif" alt="One hamster dancing" class="">
         </div>
       </div>
       <div class="row justify-content-center">
         <div class="col-auto" data-animation="slide-in-left" data-delay=".5s" style="animation-delay: 0.5s;">
           <h1 class="fadeInRight">Emily & Adam are Getting Married!</h1>
         </div>
       </div>
 
       <div class="row justify-content-center mt-5">
         <div class="col-auto">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/7iGI7tCzgVs" class="img-fluid" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
       </div>
 
       <div class="row justify-content-center">
         <div class="col-auto">
           <img src="../assets/Images/hampsters.gif" alt="Hamster dance" class="hide-sm">
         </div>
         <div class="col-auto">
           <img src="../assets/Images/fire.gif" alt="A big ass fire via geocities" class="fire img-fluid">
         </div>
         <div class="col-auto">
           <img src="../assets/Images/hampsters.gif" alt="Hamster dance" class="">
         </div>
       </div>
     </div>
    </div> 
  </section>

  <!--- Slideshow Section -->
  <section class="slideshow row">
    <div class="container">
      <div class="wrap">
        <div class="row justify-content-center">
         <div class="col-lg-12 col-md-8 col-sm-12">

          <div class="slider">
            <img src="../assets/Images/us.png" alt="Emily and Adam holding a dog" class=""> 
            <img src="../assets/Images/us2.png" alt="Emily and Adam wearing nice clothes" class="">  
             <img src="../assets/Images/us3.png" alt="Emily and Adam holding a cat that wants to run away" class=""> 
             <img src="../assets/Images/us4.png" alt="Emily and Adam making stupid faces" class="">  
             <img src="../assets/Images/us6.png" alt="Emily and Adam hiking Mt Hood" class=""> 
             <img src="../assets/Images/us7.png" alt="Emily and Adam shadows" class=""> 
             <img src="../assets/Images/us8.png" alt="Emily and Adam with Adam looking not impressed" class=""> 
          </div>
          
         </div>
       </div>


       
     </div>
    </div> 
  </section>

  <!-- Wedding Section -->
  <section id="Wedding" class="wedding row">
    <div class="container">
      <div class="wrap">
        <div class="row justify-content-center">
          <div class="col-auto">
            <img src="../assets/Images/frog.gif" alt="One single frog" class="">
          </div>
          <div class="col-auto">
            <img src="../assets/Images/cutefrogs.gif" alt="More cute frogs" class="img-fluid">
          </div>
          <div class="col-auto">
            <img src="../assets/Images/fat-frog.gif" alt="A really fat frog" class="">
          </div>
        </div>
  
        <div class="row m-0 justify-content-center">
          <div class="col-lg-8 col-sm-12">
            <h2>We are getting married at Kercher Park in Germantown. </h2>
            <p>It's going to be just us(also Tara, Muice the puppy, and my parents). You're more than welcomed to attend but we
              don't expect anyone to show up. If you do, make sure to bring your boots it might be a bit muddy. </p>
          </div>
        </div>
  
        <div class="row m-0 justify-content-center mt-5">
          <div class="col-auto">
            <img src="../assets/Images/Frog_Croaking.gif" alt="Frogs making noise" class="">
          </div>
          <div class="col-auto">
            <img src="../assets/Images/pulseheart.gif" alt="animated heart" class="fire">
          </div>
          <div class="col-auto">
            <img src="../assets/Images/Frog_Croaking.gif" alt="frogs making noise" class="">
          </div>
  
        </div>
      </div>
    </div>
   

  </section>

  <!-- Reception Section -->
  <section id="Reception" class="reception row">
    
      <div class="wrap">
        <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-8 col-md-6 col-sm-12">
              <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="hide-sm">
              <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="">
              <img src="../assets/Images/cat-cake.gif" alt="Cats hugging cake" class="">
              <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="">
              <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="hide-sm">
              <h2>The Reception Dinner is at Taste of Beligum </h2>
              <p>The dinner is a small, intimate event at the Rookwood location with mostly immediate family only. Of course we will have cake! Cake is important! </p>
              <div class="col-auto">
                <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="hide-sm">
                <img src="../assets/Images/bunycake.gif" alt="A bunny wearing cake" class="hide-sm">
                <img src="../assets/Images/bgredheart.gif" alt="Animated pink hearts" class="hide-sm">
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
              
                <mat-card class="card">
                  <mat-card-header>
                    <mat-card-title>Taste of Beligum </mat-card-title>
                    <mat-card-subtitle>Rookwood</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="../assets/Images/taste.PNG" alt="taste of Beligum">
                  <mat-card-content>
                    <h3>6:00PM</h3>
                    <p> 3825 Edwards Rd, <br /> Cincinnati, OH 45209</p>    
                  </mat-card-content>
                  <mat-card-actions>
                    <a mat-button color="primary" href="https://www.google.com/maps/place/Taste+of+Belgium+-+Rookwood/@39.1507076,-84.4431121,15z/data=!4m5!3m4!1s0x0:0xa26edf02216201ac!8m2!3d39.1507076!4d-84.4431121?hl=en" target="_blank">GET DIRECTIONS</a>          
                  </mat-card-actions>
                </mat-card>
             
            </div>
         </div>
      </div>
    </div>
   
  </section>


  <section class="extra row">
    <div class="wrap">
      <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-auto col-md-auto col-sm-auto">        
          
            <img src="../assets/Images/hampster2.gif" alt="Emily and Adam" class="">
            
        </div>      
      </div>

      <div class="row justify-content-center">
        <div class="col-auto">          
          <a mat-raised-button color="primary" href="http://www.zola.com/registry/emilyandadamjune10" target="_blank">View Our Registry</a>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-auto hide-sm">
          <img src="../assets/Images/spider.gif" alt="Emily and Adam" class="">
        </div>
        <div class="col-auto">
          <img src="../assets/Images/dancinghamsters.gif" alt="Emily and Adam" class="">
          <img src="../assets/Images/hampsters.gif" alt="Emily and Adam" class="">
          <img src="../assets/Images/dancinghamsters.gif" alt="Emily and Adam" class="">
        </div>
        <div class="col-auto hide-sm">
          <img src="../assets/Images/spider2.gif" alt="Emily and Adam" class="">
        </div>
      </div>
    </div>
  </div>
  </section>

</div>